*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1370px;
    padding-left: 20px;
    padding-right: 20px;
}

.header__burger{
    display: none;
}

.header{
    padding-top: 39px;
}
.header__inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 32px;
}

.header__search{
    position: relative;
    min-width: 300px;
    max-width: 700px;
    height: 20px;
    margin-left: 20px;
}
.header__search-input{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #90A0B7;
    border: hidden;
    margin-left: 12px;
    /* margin-left: 15px; */
}
.header__search-input:focus{
    outline: 0;
    border: hidden;
}
.header__search::before{
    position: absolute;
    display: inline-block;
    content: url('../img/search.svg');
    top: -1px;
    left: -15px;
}
.header__userbtns{
    display: flex;
    align-items: center;
}
.header__userbtns-avatar{
    margin-left: 33px;
    width: 32px;
    height: 32px;
    border-radius: 15px;
}
.main__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-top: 53px;
}
.taks-section{
    max-width: 915px;
    flex: 80%;
    margin-right: 50px;
}
/* .top{
    padding-top: 53px;
} */
.top__inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top__title{
    margin: 0px;
}
.top__link{
    text-decoration: none;
    border-radius: 10px;
    padding: 8px 30px;
    background-color: #884CB2;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 24px;
}
.top__link-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 9px;
    color: #FFFFFF;
}
.active{
    padding-top: 41px;
}
/* .active__inner{
    max-width: 915px;
} */
.active__title{
margin: 0px;
margin-bottom: 28px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #1D262C;
}
.active__task-list{
    margin-left: 15px;
}
.active__task-list-item{
    min-height: 61px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.active__task-list-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 0.5px solid #E0E0E0;
}
.active__task-priority{
    position: relative;
}
.active__task-priority::before{
    position: absolute;
    top: -1px;
    left: -15px;
    display: inline-block;
    content: url('../img/temp.svg');
}

.active__task-name{
    margin: 0px;
    width: 323px;
    position: relative;
    word-wrap: break-word;
}
.active__task-name::before{
    position: absolute;
    top: -1px;
    left: -15px;
    display: inline-block;
    content: url('../img/temp1.svg');
}
.active__task-status{
    text-decoration: none;
    color: rgb(242, 153, 74);
    padding: 1px 17px;
    background-color: rgba(242, 153, 74, .2);
    border-radius: 9px;
}
.active__task-edit{
    text-decoration: none;
}
.active__task-delete{
    text-decoration: none;
}
.inactive{
    padding-top: 46px;
}
/* .inactive__inner{
    max-width: 915px;
} */
.inactive__top{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.inactive__title{
    margin: 0px !important; 
    margin-bottom: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #1D262C;
}
.inactive__title-status{
    text-decoration: none;
    flex-flow: wrap;
    color: rgba(39, 174, 96, 1);
    padding: 1px 17px;
    background-color: rgba(39, 174, 96, 0.2);
    border-radius: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.0676923px;
    margin-left: 10px;
}

.inactive__task-list{
    color: #BDBDBD;
    margin-left: 15px;
}
.inactive__task-list-item{
    min-height: 61px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.inactive__task-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.5px solid #E0E0E0;
}
.inactive__task-priority{
    position: relative;
}
.inactive__task-priority::before{
    position: absolute;
    top: -1px;
    left: -15px;
    display: inline-block;
    content: url('../img/temp.svg');
}

.inactive__task-name{
    margin: 0px;
    width: 323px;
    position: relative;
    word-wrap: break-word;
}
.inactive__task-name::before{
    position: absolute;
    top: -1px;
    left: -15px;
    display: inline-block;
    content: url('../img/temp1.svg');
}
.inactive__task-status{
    text-decoration: none;
    color: rgba(39, 174, 96, 1);
    padding: 1px 17px;
    background-color: rgba(39, 174, 96, 0.2);
    border-radius: 9px;
}
.inactive__task-edit{
    text-decoration: none;
}
.inactive__task-delete{
    text-decoration: none;
}
.tasks-list-section{
    width: 200px;
    border-left: 0.5px solid #E0E0E0;
    border-bottom: 0.5px solid #E0E0E0;
    flex: 40%;
    padding-right: 15px;
}
.task-list__header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.task-list__header{
    margin-bottom: 50px;
}
.task-list__add-btn{
    width: 25px;
    height: 25px;
}
.task-list__title{
    padding-left: 15px;
    margin: 0px;
    font-size: 2em;
    margin-right: 20px;
}
.task-list-add{
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    padding-left: 15px;
    transition: all 1s;
    margin-top: -25px;
}
.task-list-input{
    border: none;
    border-bottom: 1px solid #90A0B7;
    width: 300px;
    line-height: 25px;
    font-size: 20px;
}
.task-list-input:focus{
    outline: none;
    border-color: #884CB2;
}
.task-list__add-btn{
    /* margin-left: 15px; */
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.title-task-list__add-btn{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.2s;
}
.menu__list{
    padding: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}
.menu__list-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 61px;
}
.menu__list-item:hover{
    background-color: rgba(136, 76, 178, .2)
}
.menu__list-link{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
    width: 100%;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}
.popup.open{
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}
.popup__inner{
    padding: 25px 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;

}
.popup__close{
    align-self: flex-end;
}
/* .popup__task-id{
    display: none;
} */
.popup__taks-name{
    margin-bottom: 15px;
}
label{
    font-family: 'Poppins', sans-serif;
}
select{
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #90A0B7;
}
.popup__taks-name{
    line-height: 25px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #90A0B7;
}
.popup__taks-name:focus, .popup__taks-name:focus{
    outline: none;
    border-color: #884CB2;
}
select:focus, select:focus{
    outline: none;
    border-color: #884CB2;
}
.popup__btns{
    margin-top: auto;
    display: flex;
    justify-content: center;
}
.success-btn{
    margin-right: 15px;
    background-color: #884CB2;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid #884CB2;
}
.success-btn:hover{
    background-color: white;
    color: #884CB2;
    border: 1px solid #884CB2;
    transition: 0.1s;
}
.cancel-btn{
    color: #884CB2;
    border: 1px solid #90A0B7;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
}
.cancel-btn:hover{
    color: white;
    border: 1px solid rgba(136,76,178, .65);
    background-color: rgba(136,76,178, .65);
    border-color: #884CB2;
    transition: 0.1s;
}
@media (max-width: 1200px) {
    .task-list__remove-btn{
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
    .tasks-list-section{
        display: none;
    }
    .header__burger{
        margin-left: 33px;
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
    }
    .header__burger::before, .header__burger::after{
        position: absolute;
        content: '';
        background-color: rgb(194, 207, 224);
        width: 100%;
        height: 3px;
        left: 0;
    }
    .header__burger span{
        position: absolute;
        background-color: rgb(194, 207, 224);
        width: 100%;
        height: 3px;
        left: 0;
        top: 9px;
    }
    .header__burger::before{
        top:0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.active_menu::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active_menu::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active_menu span{
        transform: scale(0);
    }
    .header__burger.active_menu span::before{
        top: 9px;
        transform: rotate(45deg);
    }
    .tasks-list-section{
        display: block;
        padding-top: 30px;
        width: 50%;
        height: 100%;
        position: fixed;
        top:0;
        right: -100%;
        background-color: white;
        border-bottom: 0.5px solid #E0E0E0;
        border-left: 0.5px solid #E0E0E0;
        z-index: 3;
        overflow-y: scroll;
    }
    .tasks-list-section.active_menu{
        right: 0;
    }
}
@media (max-width: 850px) {
    .tasks-list-section{
        width: 100%;
    }
    .task-list__header{
        padding-top: 10px;
    }
    .task-list__title{
        font-size: 25px;
    }
    .task-list__add-btn, .task-list__remove-btn{
        width: 15px;
        height: 15px;
    }
    .active__task-name{
        width: 100%;
        margin-bottom: 10px;
    }
    .inactive__task-name{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .header__inner{
        flex-direction: column-reverse;
        height: auto;
        align-items: flex-end;
    }
    .header__search{
        flex: 100%;
        align-self: flex-start;
    }
    .header__userbtns{
        flex: 100%;
        margin-bottom: 15px;
    }
    .header__search-input{
        font-size: 10px;
    }
    .top{
        padding-top: 25px;
    }
    .top__inner{
        flex-direction: column;
        align-items: flex-start;
    }
    .top__link{
        margin-left: 0px;
    }
    .top__title{
        margin-bottom: 10px;
    }
    .active__task-priority{
        margin-left: auto;
        flex: 50%;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .active__task-creator{
        margin-bottom: 15px;
    }
    .active__task-status{
        margin-right: 25px;
        margin-bottom: 15px;
    }
    .inactive__task-priority{
        margin-left: auto;
        flex: 40%;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .inactive__task-creator{
        margin-bottom: 15px;
    }
    .inactive__task-status{
        margin-right: 25px;
        margin-bottom: 15px;
    }
}